.tabla2{
    margin-top: 2em;
    th, 
    td{
      text-align: center;
      padding: .2em .5em;
      border: 1px solid black;
    }
    caption{
      text-align: left;
      margin-bottom: 5px;
      font-variant: small-caps;
      font-size: 20px;
      letter-spacing: 5px;
    }
    td {
        text-align: left;
        font-size: .8em;
        padding-bottom: 3em;
        padding-right: 3em;
        &:hover{
            background-color: white;
            cursor: pointer;
            font-size: 1.6em;
            text-align: center;
            padding: 0;
        }
    }
}

.booking-open-options {

}

.popup-booking {
  display: flex;
  padding: 15px;
  flex-direction: column;
  width: 200px;
  overflow: hidden;
}